//React UI is using proxy for making the request, default PORT is 5000
//"proxy": "http://localhost:5000",
PORT=500 //default, to add new port please also make changed to proxy setting in UI/package.json  "proxy": "http://localhost:5000",

//use only atlas URL of mongodb or url with replica, if not provided PRISMA will through Error
MONGO_DATABASE_URL=

//API_KEY, finnhub, link  https://finnhub.io/ click on GET Free API KEY inside green button
API_KEY=

If any of the enviroment variable are not define, there will be error
